body{
    width: 1000px;
    margin: auto;
    background: rgb(172,54,23);
    background: radial-gradient(circle, rgba(172,54,23,1) 0%, rgba(25,25,25,1) 100%);
    align-items: center;
    align-content: center;
}

div{
    border: 5px solid black;
    border-radius: 15px;
    background-color: rgb(218, 120, 120);
    margin: 20px;
    padding: 15px;
    width: 200px;
    height: 560px;
    

    /* organizando as divs com o float - ficaram em linha reta */
    float: left;
}

h3{
    margin-top: 0;
}